<!DOCTYPE html>
<html lang="en">

<head>

    <title>Profile</title>
</head>

<body>
    <h1>hello world profile</h1>
    <h2>
        Name=
        <%= user.name%>
    </h2>
    <h2>
        email=
        <%= user.email%>
    </h2>

    <ul>
        <% user.skills.forEach((item)=>{ %>

            <li>
                <%= item %>
            </li>

            <% }) %>
    </ul>
</body>

</html>